{% extends "base.html" %}

{% block content %}

    <div class="container bootdey">
    {% if editable %}
    <div class="right-button  gap-2 col-6 mx-auto">
        <a href="{% url "edit_pizza" pizza.pk %}"><button type="button" class="btn btn-primary ">Edit Pizza</button></a>
        <a href="{% url "delete_pizza" pizza.pk %}"><button type="button" class="btn btn-danger">Delete Pizza</button></a>
    </div>
        {% endif %}
        <h1>{{ pizza.pizza_name }}</h1>
    </div>
    {% include "layouts/detal.html" with item=pizza %}


{% endblock %}